 *{
	padding: 0;
	margin: 0;
	font-family: century gothic;
	text-align: center;
	background-color: #2C2A2A;
}

form {
	border: 1px solid #cddbef;
  	border-radius: 2px;
	padding: 50px 2px;
	background-color: #ededed;
	margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px

	
}

h1 {
	text-align:center;
	padding: 12px;
	color: #ED820A
}

h2 {
	background: #ededed;
	text-align:center;
	padding: 8px;
	color: #ED820A
}

select {
	background: white;
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px;
}


input {
	background: white;
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px;
}

input[type='submit']{
	background-color: #ED820A;
	color: #fff;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
}


.ok {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #1e6;
	color: #fff
}
.bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: #fff
}

.btn {
	background-color: #ED820A;
	color: #fff;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
}

a{
	text-decoration: none;
	color: white;
}
