body{
	background-color: #2C2A2A;
}

* {
	font-family: century gothic;
}


#main-container{
	width: 600px;
	margin-top: 3%;
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
	margin-left: 95%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #ED820A;
	border-bottom: solid 5px #E6F307;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #E8B25F;
	color: white;
}

#filtro{
    width: 12%;
    color: white;
}

#cajafiltro{
	background-color: #E8B25F;
	width: 12%;
	margin-left: 100px;
    margin-top: -1200px;
}

select{
	width: 150px;
}

#filter{
	width: 12%;
    color: white;
    margin-top: 1000px;
}

a{
	text-decoration: none;
	color: white;
}
